@model IEnumerable<StackOverflow.Models.Job>

@{
    ViewData["Title"] = "Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Jobs</h3>

@foreach (var job in Model)
{
    <li>@Html.DisplayFor(m => job.JobName) |
        @Html.ActionLink("Details", "Details", new { id = job.JobId})
    </li>
}
<h3>@Html.ActionLink("Post a Job", "Create")</h3>
<p>@Html.ActionLink("Back to Jobs", "Index")</p>
